.banner {
    text-align: center;
    height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    .image {
        background-color: var(--bg-color);
        background-image: url("../assets/app/catalog.jpg");
        background-size: contain;
        background-repeat: repeat;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0.3;
    }

    .content {
        position: relative;
        z-index: 1;

    }

}