:root {
    /* variables */
    --bg-color: #000;
    --main-text-color: #fff;
    --main-brand-color: #e50914;
    --main-brand-color-light: #e44c54;
    --border-color: #4b5563;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {

    text-decoration: none;
}

.main-bg {
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

a.hide {
    display: none;

}

@media screen and (width > 768px) {
    a.hide {
        display: block;
    }
}

/* Configuración de imprimir pantalla, removemos todos estos elementos de la impresión */
@media print {
    body {

        header.header,
        footer.footer,
        section.banner {
            display: none;
        }
    }
}

/* 
configuración de tema claro, si el usuario tiene su os en light
se aplican estos colores.

@media screen and (prefers-color-scheme: light) {
    :root {
        --bg-color: #fff;
        --main-text-color: #000;
    }
} */