/* button */
.btn {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    text-decoration: none;
    padding: 0.7rem;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid var(--main-brand-color);
    /* transition-property: background-color;
    transition-duration: 10s; */
    transition: background-color 0.3s;

    &.secondary {
        background-color: transparent;
        border: 1px solid var(--main-text-color);
    }
}

@media screen and (hover: hover) {
    .btn {
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--main-brand-color-light);
    }

    .btn .secondary {
        background-color: transparent;
    }
}

/* Texts */
.heading-1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.heading-2 {
    font-weight: 700;
}

/* Forms css */
.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        margin-bottom: 0.5rem;
    }

    input,
    textarea,
    select {
        border: none;
        padding: 1rem;
        border-radius: 5px;
        background-color: var(--input-bg-color);
        color: var(--main-text-color);
    }

    &.row {
        flex-direction: row;
        gap: 10px;

        label {
            margin: 0;
        }
    }

    /* Nueva notación anidad se añade &
        antiguamente sería crear otra sección como
        .form-element row {etc}
    */
}

.file-element {
    margin-bottom: 1rem;

    label {
        display: block;
        background-color: var(--input-bg-color);
        color: var(--main-text-color);
        padding: 1rem;
        border-radius: 5px;
    }

    input[type="file"] {
        display: none;
    }
}