.main {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
}

.info {
    .assets {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            width: 16em;
            z-index: 1;
        }

        video {
            position: absolute;
            width: 10em;
            top: 30px;
        }
    }
}

@media screen and (width > 768px) {
    .info {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
    }
}