.container {
    background-image: url("../assets/app/catalog.jpg")
}

.card {
    max-width: 420px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 3rem 2rem;
    border-radius: 4px;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        margin-bottom: 0.5rem;
    }

    input,
    textarea,
    select {
        border: none;
        padding: 1rem;
        border-radius: 5px;
        background-color: var(--input-bg-color);
        color: var(--main-text-color);
    }

    &.row {
        flex-direction: row;
        gap: 10px;

        label {
            margin: 0;
        }
    }

    /* Nueva notación anidad se añade &
        antiguamente sería crear otra sección como
        .form-element row {etc}
    */
}

.file-element {
    margin-bottom: 1rem;

    label {
        display: block;
        background-color: var(--input-bg-color);
        color: var(--main-text-color);
        padding: 1rem;
        border-radius: 5px;
    }

    input[type="file"] {
        display: none;
    }
}